{% extends 'core/base.html' %}


{% block content %}

<h5 style="background-color: white; text-align: center; background-color: #D50080; color: white">Inicio</h5>

<div class="container">
  <div class="row">
    <div class="col-12" style="text-align: center;">
      <span style="color:#D50080; font-size: 60px;">
        VOTO  <br>
      </span>
      
      <span style="color:#D50080; font-size: 33px;">
        DE LOS MEXICANOS <br>
      </span>

      
      <span style="color:#D50080; font-size: 53px;">
        RECIDENTES <br>   
      </span>

      
      <span style="color:#D50080; font-size: 33px;">
        EN EL EXTRANJERO  
      </span>
    </div>
    <div class="col-12" style="text-align: center;">
      <br>
      <img src="" alt="IMG1">
    </div>
  </div>
</div>

{% endblock %}