{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<h5 style="background-color: white; text-align: center; background-color: #D50080; color: white">Captura de Datos </h5>

<div class="container">
  <div class="row">
    <div class="col-12" style="text-align: center;">

      
      <form  method="post" >{% csrf_token %}
        
        <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Partido</th>
            <th scope="col">Voto postal</th>
            <th scope="col">Voto internet</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img style="width: 39px; height: 39px;" src="{% static 'cap_datos/img/PAN.png' %}" alt="patido_img"></th>
            <td><input  class="form-control"  name="pan_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control"  name="pan_internet" min="0" type="number" value="voto por internet."></td>
          </tr>
          
          <tr>
            <th scope="row"><img style="width: 39px; height: 39px;" src="{% static 'cap_datos/img/pri.png' %}" alt="patido_img"></th>
            <td><input  class="form-control" name="pri_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="pri_internet" min="0" type="number" value="voto por internet."></td>
          </tr>
          
          <tr>
            <th scope="row"><img style="width: 39px; height: 39px;" src="{% static 'cap_datos/img/prd.png' %}" alt="patido_img"></th>
            <td><input  class="form-control" name="prd_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="prd_internet" min="0" type="number" value="voto por internet."></td>
          </tr>
          
          <tr>
            <th scope="row"><img style="width: 39px; height: 39px;" src="{% static 'cap_datos/img/verde.png' %}" alt="patido_img"></th>
            <td><input  class="form-control" name="verde_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="verde_internet" min="0" type="number" value="voto por internet."></td>
          </tr>

          
          <tr>
            <th scope="row"><img style="width: 39px; height: 39px;" src="{% static 'cap_datos/img/pt.png' %}" alt="patido_img"></th>
            <td><input  class="form-control" name="pt_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="pt_internet" min="0" type="number" value="voto por internet."></td>
          </tr>
          
          <tr>
            <th scope="row"><img style="width: 39px; height: 39px;" src="{% static 'cap_datos/img/mov_ciuda.png' %}" alt="patido_img"></th>
            <td><input  class="form-control" name="mov_ciuda_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="mov_ciuda_internet" min="0" type="number" value="voto por internet."></td>
          </tr>

          
          <tr>
            <th scope="row"><img style="width: 39px; height: 39px;" src="{% static 'cap_datos/img/morena.png' %}" alt="patido_img"></th>
            <td><input  class="form-control" name="morena_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="morena_internet" min="0" type="number" value="voto por internet."></td>
          </tr>

          
          <tr>
            <th scope="row"><img style="width: 79px; height: 39px;" src="{% static 'cap_datos/img/verde_pt_morena.png' %}" alt="patido_img"></th>
            <td><input  class="form-control" name="verde_pt_morena_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="verde_pt_morena_internet" min="0" type="number" value="voto por internet."></td>
          </tr>
          
          <tr>
            <th scope="row"><img style="width: 79px; height: 39px;" src="{% static 'cap_datos/img/verde_pt.png' %}" alt="patido_img"></th>
            <td><input  class="form-control" name="verde_pt_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="verde_pt_internet" min="0" type="number" value="voto por internet."></td>
          </tr>

          
          <tr>
            <th scope="row"><img style="width: 79px; height: 39px;" src="{% static 'cap_datos/img/verde_morena.png' %}" alt="patido_img"></th>
            <td><input  class="form-control" name="verde_morena_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="verde_morena_internet" min="0" type="number" value="voto por internet."></td>
          </tr>


          
          <tr>
            <th scope="row"><img style="width: 79px; height: 39px;" src="{% static 'cap_datos/img/pt_morena.png' %}" alt="patido_img"></th>
            <td><input  class="form-control" name="pt_morena_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="pt_morena_internet" min="0" type="number" value="voto por internet."></td>
          </tr>
          
          <tr>
            <th scope="row"><span>CANDIDATO/AS <br> NO <br> REGISTRADOS/AS</span></th>
            <td><input  class="form-control" name="no_registro_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="no_registro_internet" min="0" type="number" value="voto por internet."></td>
          </tr>
          
          <tr>
            <th scope="row"><span>VOTOS <br> NULOS </span></th>
            <td><input  class="form-control" name="votos_nulos_postal" min="0" type="number" value="voto por postal."></td>
            <td><input  class="form-control" name="votos_nulos_internet" min="0" type="number" value="voto por internet."></td>
          </tr>
          
         
        </tbody>
      </table>
        <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Guardar">
    </form>
    
      
    </div>
  </div>
</div>

{% endblock %}